In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_pickle("df.pkl")

In [3]:
df.head()

,storm_id,duration,name,damage,time,wind,pressure,state,lat,lon,elevation,rainfall,category
0,AL011900,474.0,AL011900,171510000000,1900-09-09 02:30:00,120,936.0,TX,29.171100,-95.201800,1.306692,10.25,3
1,AL011918,162.0,AL011918,420000000,1918-08-06 18:00:00,105,955.0,LA,29.800000,-93.200000,0.347064,4.91,2
2,AL011926,270.0,AL011926,7190000000,1926-07-28 06:30:00,90,967.0,FL,28.564317,-80.532650,-6.941955,10.40,1
3,AL011929,78.0,AL011929,110000000,1929-06-28 21:30:00,80,982.5,TX,28.383333,-96.516667,0.584941,3.55,1
4,AL011934,414.0,AL011934,710000000,1934-06-16 19:00:00,85,966.0,LA,29.700000,-91.700000,-2.300000,10.00,1

In [4]:
df.dtypes

storm_id             object
duration            float64
name                 object
damage                int64
time         datetime64[ns]
wind                  int64
pressure            float64
state                object
lat                 float64
lon                 float64
elevation           float64
rainfall            float64
category              int64
dtype: object

In [5]:
df.isna().sum()

storm_id     0
duration     0
name         0
damage       0
time         0
wind         0
pressure     3
state        0
lat          0
lon          0
elevation    0
rainfall     0
category     0
dtype: int64

In [6]:
df.pressure.min()

899.4659090909091

In [7]:
df.pressure.max()

1009.5