In [1]:
import pandas as pd

In [2]:
from files_download import df

In [3]:
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40.0,...,0.0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48.0,...,0.0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB

In [4]:
df.shape

(1763600, 51)

In [5]:
df.isna().sum()

BEGIN_YEARMONTH             0
BEGIN_DAY                   0
BEGIN_TIME                  0
END_YEARMONTH               0
END_DAY                     0
END_TIME                    0
EPISODE_ID             232246
EVENT_ID                    0
STATE                       1
STATE_FIPS                  1
YEAR                        0
MONTH_NAME                  0
EVENT_TYPE                  0
CZ_TYPE                     0
CZ_FIPS                     0
CZ_NAME                  1557
WFO                    125580
BEGIN_DATE_TIME             0
CZ_TIMEZONE                 0
END_DATE_TIME               0
INJURIES_DIRECT             0
INJURIES_INDIRECT           0
DEATHS_DIRECT               0
DEATHS_INDIRECT             0
DAMAGE_PROPERTY        557107
DAMAGE_CROPS           667477
SOURCE                 345857
MAGNITUDE              742491
MAGNITUDE_TYPE        1316124
FLOOD_CAUSE           1662632
CATEGORY              1763155
TOR_F_SCALE           1690898
TOR_LENGTH            1494253
TOR_WIDTH             1494253
TOR_OTHER_WFO         1760761
TOR_OTHER_CZ_STATE    1760761
TOR_OTHER_CZ_FIPS     1760761
TOR_OTHER_CZ_NAME     1760761
BEGIN_RANGE            792919
BEGIN_AZIMUTH         1011634
BEGIN_LOCATION         760726
END_RANGE              793194
END_AZIMUTH           1024612
END_LOCATION           800096
BEGIN_LAT              676734
BEGIN_LON              676742
END_LAT                854223
END_LON                854230
EPISODE_NARRATIVE      479103
EVENT_NARRATIVE        856075
DATA_SOURCE                15
dtype: int64